body{
    text-align: center;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 5px;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.red{
    /* background-color: red; */
    background-color: #d95980;
}
.yellow{
    background-color: #f99b45;
    /* background-color: yellow; */
}
.green{
    background-color: #63aac0;
    /* background-color: blue; */
}
.purple{
    background-color: #819ff9;
    /* background-color: pink; */
}
.flash{
    background-color: black;
}
.userflash{
    background-color: green;
}
.start-btn{
    height: 40px;
    width: 80px;
    background-color: aquamarine;
    border: 2px solid black;
    border-radius: 15px;
}
.hide{
    display: none;
}